<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="AddressController" data-ng-init="findOne()">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="address.addrStr" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-8 text-left">
          <h3 translate>Address</h3> {{address.addrStr}}
		  <span class="btn-copy" ngclipboard data-clipboard-text="{{address.addrStr}}"><img class="clippy" width="13" src="../img/clippy.svg" alt="Copy to clipboard"></span>
      </div>
      <div class="col-md-4">
        <span class="txvalues txvalues-primary"><strong translate>Final Balance</strong> {{$root.currency.getConvertion(address.balance) || address.balance + ' RVN' }}</span>
      </div>
    </div>
    <div class="hide_snavbar">
      <button class="btn-copy" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </button>
    </div>
  </div>
  <h1>
      <span translate>Address</span>
      <small class="ng-scope">{{address.addrStr}}</small>
      <span class="btn-copy" ngclipboard data-clipboard-text="{{address.addrStr}}"><img class="clippy" width="13" src="../img/clippy.svg" alt="Copy to clipboard"></span>
  </h1>
  <div class="text-muted" data-ng-if="!address.addrStr">
    <span translate>Loading Address Information</span> <span class="loader-gif"></span>
  </div>
</div>
  <div data-ng-if="address.addrStr">
    <!-- RVN Summary -->
    <div class="row">
        <div class="rvn-summary col-md-7">
            <h2 translate>RVN Summary <small>confirmed</small></h2>
            <div class="row" data-ng-hide="!address.addrStr">
                <div class="col-md-12">
                    <table class="table">
                    <tbody>
                    <tr>
                        <td><strong translate>Total Received</strong></td>
                        <td class="ellipsis text-right">{{$root.currency.getConvertion(address.totalReceived) || address.totalReceived + ' RVN'}}</td>
                    </tr>
                    <tr>
                        <td><strong translate>Total Sent</strong></td>
                        <td class="ellipsis text-right">{{$root.currency.getConvertion(address.totalSent) || address.totalSent + ' RVN'}}</td>
                    </tr>
                    <tr>
                        <td><strong translate>Final Balance</strong></td>
                        <td class="ellipsis text-right">{{$root.currency.getConvertion(address.balance) || address.balance + ' RVN'}}</td>
                    </tr>
                    <tr>
                        <td><strong translate>No. Transactions</strong></td>
                        <td class="ellipsis text-right">{{address.txApperances}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="qrContainer col-md-2" data-ng-hide="!address.addrStr">
            <qrcode size="160" data="{{address.addrStr}}"></qrcode>
        </div>
    </div>
    <!-- Asset Summary -->
    <div data-ng-if="address.assetBalances">
        <h2 translate>Asset Summary <small>confirmed</small></h2>
        <div class="row">
            <div data-ng-repeat="asset in address.assetBalances" class="col-md-3">
                <div class="row" data-ng-hide="!address.addrStr">
                    <div class="col-md-12">
                        <div class="assetTitle">{{asset.name}}</div>
                    </div>
                    <!-- Split out each asset -->
                    <div class="col-md-12">
                        <table class="table assetTable">
                            <tbody>
                                <tr>
                                    <td><strong translate>Total Received</strong></td>
                                    <td class="ellipsis text-right">{{asset.totalReceived + ' ' + asset.name}}</td>
                                </tr>
                                <tr>
                                    <td><strong translate>Total Spent</strong></td>
                                    <td class="ellipsis text-right">{{asset.totalSpent + ' ' + asset.name}}</td>
                                </tr>
                                <tr>
                                    <td><strong translate>Balance</strong></td>
                                    <td class="ellipsis text-right">{{asset.balance + ' ' + asset.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="address.unconfirmedTxApperances">
      <h2 translate>Unconfirmed</h2>
      <table class="table">
        <tbody>
        <tr>
          <td class="small" translate>Unconfirmed Txs Balance</td>
          <td class="address ellipsis text-right">{{$root.currency.getConvertion(address.unconfirmedBalance)}}</td>
        </tr>
        <tr>
          <td class="small" translate>No. Transactions</td>
          <td class="address ellipsis text-right">{{address.unconfirmedTxApperances}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div data-ng-if="address.addrStr" data-ng-controller="transactionsController" data-ng-init="load('address')">
    <h2 translate>Transactions</h2>
    <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
  </div>
</section>
